<h1>Rainpocalypse is coming.</h1>
<h2>Prepare for the worst.</h2>
<h3>Call Wayne.</h3>
<h4>The <strong>solution to mother nature.</strong></h4>

<form action="/createcontact">
	<input type="text" placeholder="Phone number" name="phone" />
	<input type="submit" />
</form>