<h1>New Post</h1>

<form action="/posts" method="post">
	<input type="text" placeholder="title" name="title" />
	<input type="url" placeholder="gif url" name="gif_url" />
	<input type="submit" value="Submit GIF" />
</form>