<p>Welcome to Rock, Paper, Scissors!</p>

<strong>Pick your weapon:</strong>

<ul>
	<li>
		<a href="play?weapon=rock">Rock</a>
	</li>
	<li>
		<a href="play?weapon=paper">Paper</a>
	</li>
	<li>
		<a href="play?weapon=scissors">Scissors</a>
	</li>
</ul>