<p>
	You rolled a <%= @my_roll %>
</p>

<p>
	I rolled a <%= @computer_roll %>
</p>

<!-- <p>
	<strong>
		<% if @computer_roll > @my_roll %>
			I win!
		<% elsif @computer_roll == @my_roll %>
			We tied, so the house wins!
		<% else %>
			You win :(
		<% end %>
	</strong>
</p> -->

<p>
	<strong>
		<%= @result %>
	</strong>
</p>	