<h1>Write a new post!</h1>

<form action="/posts" method="post">
  Title: <input type="text" name="title" /><br>
  Body: <textarea rows="4" cols="40" name="body"></textarea><br>
  Author: <input type="text" name="author" /><br>
  <input type="submit" value="Publish" />
</form>