<!DOCTYPE html>
<html>
<head>
  <title>Store</title>
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
  <![endif]-->
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.0/jquery.js"></script>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

  <!-- Optional theme -->
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">

  <!-- Latest compiled and minified JavaScript -->
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
      <div class="navbar navbar-default navbar-static-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="/products">Sheen's Shoes</a>
        </div>

          <ul class="nav navbar-nav">
            <li><a href="/products">Price List</a></li>
            <li class="active"><a href="#">Contact Us</a></li>
            <li><a href="#">Delivery Status</a></li>
          </ul>

      </div>
    </div>
  <div class="container">
    <div class="col-md-8">
      <%= yield %>
    </div>
    <div class="col-md-4">
      <h2>About Us</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam lobortis lacus ut est blandit blandit. Sed volutpat turpis non ultrices vehicula. Aliquam convallis nec odio eget pharetra. Sed et dui non arcu aliquet blandit et at ligula. Maecenas sapien turpis, fermentum id dui sed, viverra dapibus enim. Maecenas ac mauris iaculis, malesuada dolor convallis, lobortis nisl. Mauris scelerisque in quam at fermentum. Nulla aliquam odio vitae tincidunt pulvinar. Aenean a justo id dui feugiat tincidunt nec sed ligula. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam vulputate turpis quis sagittis pellentesque. Pellentesque tristique hendrerit mauris, ut ultrices lacus lobortis non. Fusce vel nisl at erat tempor commodo vel sed mauris. Ut et tincidunt sem. In nec auctor felis.</p>
      <img src="http://placesheen.com/200/300" />
    </div>
  </div>
</body>
</html>
