<h3>Welcome <%= @username %>!</h3>
<h4>We'll get you started with <%= @points %> points!<h4>

<h5>Please pick your game</h5>

<form action='/rockpaperscissors'>
	<input type="hidden" name="username" value="<%= @username %>" />
</form>	

<ul>
	<a href='/rockpaperscissors?username=<%= @username %>'><li>Rock, Paper, Scissors</li></a>
	<a href='/blackjack'><li>Blackjack</li></a>
</ul>
